button {
    position: absolute;
    bottom: 30;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffff;
    background-color: blue;
    border: none;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 12px 16px;
    user-select: none;
    min-width: 200px;
    z-index: 10000000;
}
